h1
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 136, 0, 0.781);
    padding: 5px 5px 5px 5px;
}

h2 
{
    text-align: center;
}

body 
{
    background-color: rgba(0, 225, 255, 0.938)
}

.flottant
{
    float:left ;
    padding: 0px 0px 0px 0px;
}

.flotant
{
    float: right;
}

p
{
    font-size: 20px;
}

h4 {
    font-size: 18px;
    text-decoration: underline;
    color:rgba(255, 136, 0, 0.781)
}

a:visited 
{
    color:rgba(255, 0, 64, 0.781)
}

ul 
{
    font-size: 19px;
    margin: 0px 0px 0px 90px;
}

.wiki
{
    text-align: right;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0px 15px 0px 0px;
}

a:link
{
    color :rgba(255, 136, 0, 0.781)
}

.cadre
{
    margin: 10px 10px 10px 110px;
}

div
{
    background :rgba(255, 136, 0, 0.781);
    border: 3px solid rgba(255, 0, 0, 0.411)
    
}

figure
{
    margin: 0px 0px 0px 3px
}

.end 
{
    font-style: italic;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}